<%= form_for [@artist] do |f| %>

<div class="form-group">
  <label>Artist first name</label>
  <%= f.text_area :first_name, placeholder: "What is the Artists' first name?", class: "form-control" %>
</div>

<div class="form-group">
  <label>Artist last</label>
  <%= f.text_area :last_name, placeholder: "What is the Artists' last name?", class: "form-control" %>
</div>
<div class="form-group">
  <label>Artist Genre</label>
  <%= f.text_area :genre, placeholder: "What Genre?", class: "form-control" %>
</div>

  <%= f.submit (@artist.new_record? ? "Create" : "Update") %>

<%end%>
