
<hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading"><h1><%= @artist.fullname %></h1><span class="text-muted"></span></h2>
          <p class="lead"><p>Artist genre: <%= @artist.genre %></p></p>
        </div>
        <div class="col-md-5">
          <h2><%= image_tag @artist.image, class:"showimage" %></h2>
        </div>
      </div>



<h3><b>Songs</b></h3>

<h5><a href="#" id="SongsDelete">Delete all songs</a></h5>
      <table class="table table-striped" id="songList">
        <%= render @artist.songs %>
      </table>
<hr />
<h4><b>Add a song for this artist?</b></h4>
<button type="button" class="btn btn-secondary"><%= link_to "New Song", new_artist_song_path(@artist.id) %></button>

<hr>
<button type="button" class="btn btn-outline-info"><%= link_to "Delete artist", artist_path(@artist.id), method: :delete, data: { confirm: "Are you sure?" } %></button>
<button type="button" class="btn btn-outline-info"><%= link_to "Back to Artists", root_path %></button>
