<h1><%= @artist.first_name %></h1>

<p>Artist first name: <%= @artist.first_name %></p>
<p>Artist last name: <%= @artist.last_name %></p>
<p>Artist genre: <%= @artist.genre %></p>

<hr>

<%= link_to "[Edit]", edit_artist_path(@artist.id) %>
<%= link_to "[Delete]", artist_path(@artist.id), method: :delete, data: { confirm: "Are you sure?" } %>
