<%= form_for @songs do |f| %>

<div class="form-group">
  <label>Song title</label>
  <%= f.text_area :title, placeholder: "What is the Songs' title??", class: "form-control" %>
</div>

<div class="form-group">
  <label>Song title</label>
  <%= f.text_area :album, placeholder: "On what album is the song", class: "form-control" %>
</div>
<div class="form-group">
  <label>Video_url</label>
  <%= f.text_area :video_url, placeholder: "Place a video URL (eq. Youtube)", class: "form-control" %>
</div>
<div>
<%= f.label :artist_id %>
 <%= f.collection_select(:artist_id, Artist.all, :id, :first_name) %>
</div>

  <%= f.submit (@songs.new_record? ? "Create" : "Update") %>

<% end %>
