<tr class="song" data-id="<%= song.id %>">
  <td>
    <label for="song-<%= song.id %>"><pre><%= song.title %></pre><pre><%=song.album%></pre><pre><%=song.video_url%></pre></label>
    <pre><%= link_to "Delete song", artist_songs_path(@artists.id), method: :delete, data: { confirm: "Are you sure?" } %></pre>
  </td>
</tr>
