<h1><%= @songs.title %></h1>

<p>Song tile: <%= @songs.title %></p>
<p>Album: <%= @songs.album %></p>
<p>Video_url: <%= @songs.video_url %></p>
<a href="#" class="card-link"><%= link_to "Delete song", [song.artist, song], method: :delete %></a>

<hr>


<%= link_to "[Delete]", song_path(@songs.id), method: :delete, data: { confirm: "Are you sure?" } %>
