<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @artist.name %>
</p>

<h4>List of Dinos</h4>

<% if @artist.songs.any? %>
  <ul>
    <% @artist.songs.each do |dino| %>
      <li><%= dino.name %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no dinos in this artist.</p>
<% end %>

<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>
